{% extends 'layout.html' %}

{% block body %}
    <header class="auth_header">
        <h1>Change City</h1>
    </header>
    <div class="upload_form">
        <form method="post" accept-charset="utf-8">
            {{ form.hidden_tag() }}
            <fieldset>
                {% if city_name %}
                    <p>Old city: {{ city_name }}</p>
                    {{ form.city(placeholder=city_name, autofocus="true") }}
                {% else %}
                    <p>Old city: Not yet configured</p>
                    {{ form.city(placeholder="New City", autofocus="true") }}
                {% endif %}
                {{ form.submit(class="bottone_auth") }}
            </fieldset>
        </form>
    </div>
    <div class="upload_form">
        <p>Go back to your <a href="{{ url_for('profile.manage_profile') }}" class="auth_link">profile</a> page.</p>
    </div>
{% endblock body %}
