{% extends 'layout.html' %}

{% block body %}
    <header class="auth_header">
        <h1>Change Password</h1>
    </header>
    <div class="upload_form">
        <form method="post" accept-charset="utf-8">
            {{ form.hidden_tag() }}
            <fieldset class="upload_form_fieldset">
                <p class="upload_form_par">New Password</p>
                {{ form.password(class="upload_form_input", placeholder="New Password", autofocus="true") }}
                <p class="upload_form_par">Confirm Password</p>
                {{ form.confirm(class="upload_form_input", placeholder="Confirm Password") }}
                {{ form.submit(class="bottone_auth") }}
            </fieldset>
        </form>
    </div>
    <div class="upload_form">
        <p class="upload_form_par">Go back to your <a href="{{ url_for('profile.manage_profile') }}" class="auth_link">profile</a> page.</p>
    </div>

{% endblock body %}
