{% extends 'layout.html' %}

{% block body %}
    <header class="auth_header">
        <h1>Change Email</h1>
    </header>
    <div class="upload_form">
        <form method="post" accept-charset="utf-8">
            {{ form.hidden_tag() }}
            <fieldset>
                <p>Old email: {{ current_user["email"] }}</p>
                {{ form.email(placeholder="New Email", autofocus="true") }}
                {{ form.submit(class="bottone_auth") }}
            </fieldset>
        </form>
    </div>
    <div class="upload_form">
        <p>Go back to your <a href="{{ url_for('profile.manage_profile') }}" class="auth_link">profile</a> page.</p>
    </div>
{% endblock body %}
