{% extends 'base_layout.html' %}

{% block base_body %}
    <header class="auth_header">
        <h1>Delete your account</h1>
    </header>
    <div class="upload_form">
        <form method="post" accept-charset="utf-8">
            {{ form.hidden_tag() }}
            <fieldset class="upload_form_fieldset">
                <p class="upload_form_par">{{ form.password.label() }}</p>
                {{ form.password(class="upload_form_input", placeholder="Password", autofocus="true") }}
                {{ form.submit(class="bottone_auth") }}
            </fieldset>
        </form>
    </div>
    <br></br>
    <div class="upload_form">
        <p class="upload_form_par">Changed your mind? <a href="{{ url_for('profile.manage_profile') }}" class="auth_link">Go back</a></p>
    </div>
{% endblock base_body %}
